{% extends "backend/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
{% endblock head %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} border-0 d-flex align-items-center" role="alert">
    <div class="bg-{{message.tags}} me-3 icon-item"><span class="fas fa-check-circle text-white fs-6"></span></div>
    <p class="mb-0 flex-1">{{message}}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header">
      <div class="row flex-between-end">
        <div class="col-auto align-self-center">
          <h5 class="mb-0" data-anchor="data-anchor" id="example">Add News</h5>
        </div>
        
      </div>
    </div>
    <div class="card-body bg-body-tertiary">
      <div class="tab-content">
        <div class="tab-pane preview-tab-pane active">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                
                <label for="id_title">Title:</label> 
                {{ form.title }}
              </div>
              {% if user.is_superuser %}
              <div class="col-md-6 mb-3">
                <label for="id_title">Status:</label> 
                <div class="d-flex" id="status">
                  {% for value, label in form.status.field.choices %}
                      <div class="form-check me-2">
                          <input type="radio" id="{{ value }}" name="{{ form.status.name }}" value="{{ value }}" class="form-check-input" {% if form.status.value == value %}checked{% endif %}>
                          <label for="{{ value }}" class="form-check-label">{{ label }}</label>
                      </div>
                  {% endfor %}
              </div>
              {% else %}
              <div class="col-md-6 mb-3">
                <label for="id_title">Status:</label> 
                <div class="d-flex" id="status">
                  <div class="form-check me-2">
                        <label for="status_0"><input type="radio" name="status" value="draft" id="status_0" required checked>
                        Draft</label>
                    </div>
              </div>
              {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="id_title">Image:</label> 

                {{ form.image }}
              </div>
              <div class="col-md-6 mb-3">
                <label for="id_title">Tags:</label> 

                <Select class="form-control select2" multiple="multiple" id="tags" name="tags" >
                  {% for tag in tag_names %}
                  <option>{{tag}}</option>
                  {% endfor %}
                </Select>
              </div>
              <div class="col-md-12 mb-3">
                <label for="id_title">Content:</label> 

                {{ form.content }}
              </div>
              <div class="col-md-12 mb-3">
                <label for="category">Category:</label>
                <div id="category" class="d-flex flex-wrap">
                    {% for category in form.category %}
                        <div class="form-check me-3">
                            {{ category.tag }}  <!-- Render the checkbox input -->
                            <label for="{{ category.id_for_label }}" class="form-check-label">{{ category.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
              </div>

              <div class="col-md-6">

                
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

<script>
  $('.select2').select2({
      data: [],
      tags: true,
      maximumSelectionLength: 10,
      tokenSeparators: [',', ' '],
      placeholder: "Select or type keywords"
  });
</script

{% endblock script %}
