{% extends "backend/base.html" %}
{% load static %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} border-0 d-flex align-items-center" role="alert">
    <div class="bg-{{message.tags}} me-3 icon-item"><span class="fas fa-check-circle text-white fs-6"></span></div>
    <p class="mb-0 flex-1">{{message}}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="card mb-3">
    <div class="card-header">
      <div class="row flex-between-end">
        <div class="col-auto align-self-center">
          <h5 class="mb-0" data-anchor="data-anchor" id="example">News Category</h5>
        </div>
        
      </div>
    </div>
    <div class="card-body bg-body-tertiary">
      <div class="tab-content">
        <div class="tab-pane preview-tab-pane active">
          <form method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Name:</label>
                    {{form.name}}
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <div class="row flex-between-end">
        <div class="col-auto align-self-center">
          <h5 class="mb-0" data-anchor="data-anchor" id="example">News Category List</h5>
        </div>
        
      </div>
    </div>
    <div class="table-responsive scrollbar">
        <table class="table table-striped overflow-hidden">
          <thead>
            <tr class="btn-reveal-trigger">
              <th scope="col">SL.</th>
              <th scope="col">Title</th>
              <th class="text-end" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr class="btn-reveal-trigger">
              <td>{{ forloop.counter }}</td>
              <td>{{category.name}}</td>
              <td class="text-end">
                <div class="dropdown font-sans-serif position-static"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs-10"></span></button>
                  <div class="dropdown-menu dropdown-menu-end border py-0">
                    <div class="py-2">
                      
                      <a class="dropdown-item cat-edit" href="#!" 
                      data-bs-toggle="modal" 
                      data-bs-target="#cat-modal"
                      data-category-id="{{category.id}}"
                      data-category-name="{{category.name}}"
                      >Edit</a>
                      <a class="dropdown-item text-danger" href="{% url "article:news_category_delete" category.id %}">Delete</a></div>

                </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="cat-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="rounded-top-3 py-3 ps-4 pe-6 bg-body-tertiary">
          <h4 class="mb-1" id="modalExampleDemoLabel">Edit Category </h4>
        </div>
        <div class="p-4 pb-0">
          <form method="post" >
            {% csrf_token %}
            <input type="hidden" name="category_id" id="category_id" value="">
            <div class="mb-3">
              <label class="col-form-label" for="modal_name">Name:</label>
              {{form.name}}
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var editButtons = document.querySelectorAll('[data-bs-target="#cat-modal"]');
    
    editButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          const categoryId = $(this).data('category-id');
          const categoryName = $(this).data('category-name');
          alert(categoryName)


          document.querySelector('.modal-body #category_id').value = categoryId; // Hidden field for ID
          document.querySelector('.modal-body input[id="name"]').value = categoryName;
      
        });
    });
});

</script>
{% endblock script %}

